<nav>
  <ul>
    <li><a href="/">LOGO</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/installations">Installations</a></li>
    <li><a href="/productos">Productos</a></li>
    <li><a href="/quienesSomos">Quienes Somos</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>
